.firstpart{
  
    display: flex;
    justify-content:space-evenly;
    background-color: hsl(0,0%,96%);
    width: 100%;
}
.firstpart>div{
    padding: 50px;
    /* border: 2px solid red; */
    color:hsl(0, 0%, 0%);
}
.firstpart>div>h6{
    margin-bottom: 0px;
}

.secondPart{
   
    /* border: 2px solid teal;  */
    margin:30px;
    padding: auto;
    width: 95%;
    /* display: block; */
    margin: auto;
    justify-content: space-evenly;
    display: flex;
}
.leftPart{
    display: flex;
    padding-top: 20px;

    width:40%;
     /* border: 2px solid teal;  */
   
   
}
.leftPart>ul>a{
    color: black;
    

}
.leftPart>ul{
    list-style-type: none;
    justify-content: left;
    color:#242323;
    font-size: bold;
}
ul>li{
 padding-bottom:10px;
 font-weight:200;
}
.rightPart{
    display: flex;
    padding-top: 20px;
    /* border: 2px solid red; */
    /* margin: auto; */
    /* padding: 20px; */
   width:45%
 
}

.rightPart>ul{
    list-style-type: none;
     
}

.rightPart>ul>a{
 color:black;
}
.rightPart>ul>li{
 
 list-style-type: none;
}







/* 
.icon{
    
    display: flex;
    margin-top:20px;
    margin-bottom: 30px;
    background-color:  hsl(0,0%,96%);
   
      height: 100px;

    width: 100%;
}
.icon>div{
    margin: auto;
     padding:auto;
  
    height:50%; 
    width: 30%;
}
.icon-d{
  
    margin: auto; 
   position:relative;
    
}
.d{
    display: flex;
  
    position: absolute;
    top: 90%;
    left: 50%;
    margin: -30px 0 0 -10px; 
      
}
.lasticon{
  
    margin: auto; 
   position:relative;
    
}
.lasticon>div{
  
    position: absolute;
    top: 90%;
    left: 30%;
    margin: -30px 0 0 -50px; 
      
}
.logo{
   
    margin: auto; 
   position:relative;
   height: 300px; 

}
.logo>.logoc{
    display: flex;
   
    position: absolute;
    height: 30%;
    width: 50%;
    top: 90%;
    left: 38%;
    margin: -30px 0 0 -50px; 
}
.logoc>div{
    margin: auto;

   
    height:30px;
    width: 13%;  
}
 */


.d >div img{
    width: 20px;
}
.d{
    display: flex;
   
    justify-content: flex-start;
}
/* .logoc div{
    border: 2px dashed red;
    
} */
.logoc div img{
    width: 20px;
    
}
.lasticon div {
    display: flex;
    justify-content: flex-end;
    
}
.logoc{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.icon{
    display: flex;
    margin: 50px auto;
   
    width: 90%;
}
.icon>div{
    width: 33%;
    /* border: 2px solid teal; */
}

.lastPart{
    /*   */
    width: 90%;
    margin: auto;
}
.lastPart h6{
    margin: 20px auto;
    text-align: left;
    font-weight: 400;

}
.lastPart p{
    text-align: justify;
    font-weight:100
}


 
    /* a { 
 
        color:black;
        
        }  */
        @media only screen and (max-width: 900px){
            .firstpart{
               flex-direction: column;
            
            }
            .firstpart div{
                padding: 25px;
            }
            .secondPart{
                flex-direction: column;
               }
            .rightPart{
                width: 100%;
                justify-content: space-evenly;
               
            }   
            .rightPart h6{
                text-align: center;
            }
            .rightPart li{
               
                text-align: center;
            }
            .leftPart{
                width: 100%;
                justify-content: space-evenly;

            }
            .icon{
                flex-direction: column;
               gap:30px
            }
            .icon>div{
                
                   width: 100%;       
                  
            }
            .lasticon div {
                
                justify-content: center;
                
            }
            .d{
              
               
                justify-content: center;
            }
          
        }


        @media only screen and (max-width: 600px){
            .firstpart{
               flex-direction: column;
            
            }
            .firstpart div{
                padding: 25px;
            }
            .secondPart{
                flex-direction: column;
               }
            .rightPart{
                display: none;
               
            }   
           /*  .rightPart h6{
                text-align: center;
            }
            .rightPart li{
               
                text-align: center;
            } */
            .leftPart{
                width: 100%;
                justify-content: space-evenly;

            }
            .icon{
                flex-direction: column;
               gap:30px
            }
            .icon>div{
                
                   width: 100%;       
                  
            }
            .lasticon div {
                
                justify-content: center;
                
            }
            .d{
              
               
                justify-content: center;
            }
            .lastPart{
                display: none;
            }
          
        }
        @media only screen and (max-width: 350px){
            .firstpart{
                flex-direction: column;
                
             }
             .secondPart{
                 flex-direction: column;
                }
             .rightPart{
               display: none;
                
             }   
           
             .leftPart{
                 width: 100%;
                 justify-content: space-evenly;
                 flex-direction: column;
                 gap: 20px;
             }
             .leftPart>ul li{
              
                text-align: center;
              
             }
             .li-head{
                padding-left: 0px!important;
             }
             .leftPart h6{
              /*   border: 2px dashed red; */
                text-align: center;
             }
             .icon{
                 flex-direction: column;
                gap:30px
             }
             .icon>div{
                 
                    width: 100%;       
                   
             }
             .lasticon div {
                 
                 justify-content: center;
                 
             }
             .d{
               
                
                 justify-content: center;
             }
             .lastPart{
                display: none;
             }
           
         
        }
       

